* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  width: 600px;
  height: 100vh;
  margin: 100px auto;
}

.accordion-item {
  height: 70px;
  transition: all 0.5s;
  border-bottom: 2px solid rgb(175, 172, 172);
  padding: 15px 0;
  cursor: pointer;
}

h1 {
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(175, 172, 172);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header .accordion-icon-plus {
  margin-right: 25px;
  font-size: 30px;
  display: none;
}

.accordion-header .accordion-icon-x {
  margin-right: 25px;
  font-size: 30px;
  transform: rotate(-45deg);
  display: none;
}

p {
  text-align: left;
  width: 500px;
}

img {
  height: 0;
  overflow: hidden;
  transition: 500ms all;
}

.accordion-item:hover {
  height: 300px;
  color: rgb(103, 93, 93);
}

.accordion-item:hover img {
  height: 100%;
  padding: 20px;
  object-fit: cover;
  padding-bottom: 50px;
}

.accordion:hover .accordion-icon-plus {
  display: block;
}

.accordion-item:hover .accordion-icon-plus {
  display: none;
}

.accordion-item:hover .accordion-icon-x {
  display: block;
}
